html, body {
    font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;

}

#map {
    height: 400px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}