html, body {
    font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;

}

#map {
    height: 400px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

/***** General Classes *****/

.vCenter {
    position: relative;
    float: left;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.noDecor {
    text-decoration: none;
}

.fixed {
    position: fixed;
}

/***** Specific Classes *****/

.flexContain {
    display: block;
}

.loginIcon {
    height:36px;position: relative;
    top: 50%;
    transform: translateY(50%);
}

/***** Mobile Support *****/

@media only screen and (max-width: 768px) {
    .fixed {
        position: relative;
    }

    .flexContain {
        display: flex; 
        flex-flow: column;
    }

    .rightMleft {
        order: 1;
    }

    .leftMright {
        order: 2;
    }
}

/** login screen **/
#loginForm {
	margin: auto;
	height: 400px;
	max-width: 50%;
	min-width: 320px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  
  border-radius: 10px;
  border: 1px solid #fff;
  color: #333;
  background-color: #fff;
}
#loginForm a {
	color: #aeadb4;
}
#loginForm #submit {
	text-align: right;
}
#loginFormLeft {
	margin: 0;
	width: 50%;
	display: inline-block;
	background-color: #fff;
	float: left;
	padding-top: 2em;
}
#loginFormLeft input {
    border: 0;
    color: #263238;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 1.5em;
	margin-left: 1em;
}
#loginFormLeft input:focus,
#loginFormLeft select:focus,
#loginFormLeft textarea:focus,
#loginFormLeft button:focus {
    outline: none;
}
 